<!-- homepage for logged in admin users-->
<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>T_Crew Sign-Ups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/stylesheets/timeline.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/sticky-footer.css">
  <link type="text/css" rel="stylesheet" href="/bootplus/css/bootplus.min.css" media="screen">
  <script src = "/bootplus/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="wrap">
    <div class="container">
      {% include "templates/header.html"%}
      <div class="row-fluid">

      </div>
      <div id="push"></div>
    </div>
  </div>
  {% include "templates/footer.html" %}
</body>
</html>