<!-- homepage for logged in users-->
<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>T_Crew Sign-Ups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/stylesheets/timeline.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/sticky-footer.css">
  <link type="text/css" rel="stylesheet" href="/bootplus/css/bootplus.min.css" media="screen">
  <script src = "/bootplus/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="wrap">
    <div class="container-fluid">
      {% include "templates/header.html"%}
      <div class="row-fluid">
        {% if signupError %}
          <div class="alert alert-error">
            You need to update your name, matric number and contact number before signing up.
          </div>
        {% endif %}
        {% include "templates/class_info.html" %}
        {% if slots %}
          <ul class="timeline">
            {% for slot in slots %}
              {% if slot.registrants|length < slot.totalSpaces and slot.startTime > now %}
                <li>
                  <div class="direction-r">
                    <div class="flag-wrapper">
                      <span class="flag">{{slot.startTime.strftime('%d %B %Y')}}</span>
                      <span class="time-wrapper">
                        {% if slot.key in registeredSlots %}
                          <span class="time"><a href="/deregister?{{slot.key.urlsafe()}}">Deregister</a></span>
                        {% else %}
                          <span class="time"><a href="/signup?{{slot.key.urlsafe()}}">Sign up!</a></span>
                        {% endif %}
                      </span>
                    </div>
                    <div class="desc"> {{slot.totalSpaces - slot.registrants|length}} slot(s) available!</div>
                  </div>
                </li>
              {% elif slot.registrants|length < slot.totalSpaces %}
                <li>
                  <div class="direction-r">
                    <div class="flag-wrapper">
                      <span class="flag">{{slot.startTime.strftime('%d %B %Y')}}</span>
                    </div>
                    <div class="desc">No spaces available.</div>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          <div class="text-center">There are no upcoming classes.</div>
        {% endif %}
      </div>
      <div id="push"></div>
    </div>
  </div>
  {% include "templates/footer.html" %}
</body>
</html>