<!-- homepage for non-logged in users-->
<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>T_Crew Sign-Ups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/bootplus/css/bootplus.min.css" media="screen">
  <link type="text/css" rel="stylesheet" href="/stylesheets/timeline.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/sticky-footer.css">
  <script src = "/bootplus/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="wrap">
    <div class="container-fluid">
      {% include "templates/header.html"%}
      <div class="row-fluid">
        <!--login stuff-->
      </div>
      <div class="row-fluid">
        {% include "templates/class_info.html" %}
        {% if slots %}
          <ul class="timeline">
            {% for slot in slots %}
              {% if slot.registrants|length < slot.totalSpaces and slot.startTime > now %}
                <li>
                  <div class="direction-r">
                    <div class="flag-wrapper">
                      <span class="flag">{{slot.startTime.strftime('%d %B %Y')}}</span>
                      <span class="time-wrapper">
                        <span class="time"><a href="{{logInOut}}">Login to sign up!</a></span>
                      </span>
                    </div>
                    <div class="desc"> {{slot.totalSpaces - slot.registrants|length}} slot(s) available!</div>
                  </div>
                </li>
              {% else %}
                <li>
                  <div class="direction-r">
                    <div class="flag-wrapper">
                      <span class="flag">{{slot.startTime.strftime('%d %B %Y')}}</span>
                    </div>
                    <div class="desc">No spaces available.</div>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          <div class="text-center">There are no upcoming classes.</div>
        {% endif %}
      </div>
      <div id="push"></div>
    </div>
  </div>
  {% include "templates/footer.html" %}
</body>
</html>