<!-- homepage for non-logged in users-->
<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>T_Crew Sign-Ups</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/bootplus/css/bootplus.min.css" media="screen">
  <link type="text/css" rel="stylesheet" href="/stylesheets/timeline.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/sticky-footer.css">
  <script src = "/bootplus/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="wrap">
    <div class="container-fluid">
      {% include "templates/header.html"%}
      <div class="row-fluid">
        <!--login stuff-->
      </div>
      <div class="row-fluid">
        <div class="text-center">
          <h2>Beginner Hiphop Dance Classes by Xiaomei</h2>
          <h3>Mondays, 6.30pm to 8pm
            | Stephen Riady Centre
            | Dance Studio (level 1).</h3>
          <h5 >Pricing: $100/10 classes*, $15/class. Pay at the start of your package or class.
            <br>(9th September's class is excluded from the package and only $8)
            <br><small>*All classes in AY13/14 Sem1. Email tcrewtembusu [at] gmail [dot] com to sign up for the package. Limited slots available.</small></h5>
            <strong>Do not sign up here if you are a Tembusian or if you are buying the package.</strong>
          <h4><strong><br>Upcoming Classes</strong></h4>
        </div>
        {% if slots %}
          <ul class="timeline">
            {% for slot in slots %}
              {% if slot.registrants|length < slot.totalSpaces and slot.startTime > now %}
                <li>
                  <div class="direction-r">
                    <div class="flag-wrapper">
                      <span class="flag">{{slot.startTime.strftime('%d %B %Y')}}</span>
                      <span class="time-wrapper">
                        <span class="time"><a href="{{logInOut}}">Login to sign up!</a></span>
                      </span>
                    </div>
                    <div class="desc"> {{slot.totalSpaces - slot.registrants|length}} slot(s) available!</div>
                  </div>
                </li>
              {% else %}
                <li>
                  <div class="direction-r">
                    <div class="flag-wrapper">
                      <span class="flag">{{slot.startTime.strftime('%d %B %Y')}}</span>
                    </div>
                    <div class="desc">No spaces available.</div>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else %}
          <div class="text-center">There are no upcoming classes.</div>
        {% endif %}
      </div>
      <div id="push"></div>
    </div>
  </div>
  {% include "templates/footer.html" %}
</body>
</html>